@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:wght@400;600&family=Poppins:wght@400;800&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --azul:#22D4FD;
    --montserrat: 'Montserrat', sans-serif;
}
body {
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.container__iniciar {
    display: flex;
    gap:80px;
    margin: 65px 15% 0 15%;
}
.container__iniciar__link {
    text-decoration: none;
    color: var(--azul);
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 1.5rem;
}
.container__iniciar__link:hover {
    color: white;
    border: 1px solid #22D4FD;
    background-color:#272727 ;
    padding: 10px;
}
.titulo__secundario {
    font-family: 'Krona One', sans-serif;   
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
.titulo__conteudo {
    font-family: 'Krona One', sans-serif;   
    font-size: 2.25rem;
    font-weight: 400;
}
.paragrafo__conteudo{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.titulo__conteudo__marcacao {
    color: #22D4FD;
}
.container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
    gap: 82px;
}
.primeiro__container {
    Width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.conteudo__links {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    gap: 32px;
}
.conteudo__links__botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    Width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    border: 2px solid #22D4FD;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Montserrat' , sans-serif;
    color:  white;
    text-decoration: none;
}
.conteudo__links__botao:hover {
    background-color:#272727 ;
}

.segundo__container {
    width: 488px;
}
.segundo__container__imagem {
    width: 100%;
    border-radius: 100%;
    height: 100%;
}

.rodape {
    background-color: #22D4FD ;
    padding: 23.64px 0;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.rodape:hover {
    background-color: #272727;
}
@media(max-width: 1200px){
    .container__iniciar {
        justify-content: center;
        margin: 0;
        padding: 10%;
    }
    .container {
        display: flex;
        flex-direction: column-reverse;    
        padding: 5%;   
    }
    .primeiro__container {
        width: auto;
    }
}
@media(max-width: 600px) {
    .container__iniciar{
        padding: 5%;
        gap: 20px;
    }
    .segundo__container {
        display: flex;
        justify-content: center;
    }
    .segundo__container__imagem {
        width: 75%;        
    }
}
